<div class="panel panel-default panel-controls">
  <div class="panel-heading">
    <h3 class="panel-title">
      <% if (_id) { %>
        Modificar usuario
      <% } else { %>
        Crear usuario
      <% } %>
    </h3>
  </div>
  <div class="panel-body">
    <form action="#" class="form form-horizontal">
      
      <!-- Nombre -->
      <div class="form-group">
        <label for="user-firstname" class="col-sm-3 control-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="user-firstname" placeholder="Nombre" value="<%- name.first %>">
        </div>
      </div>

      <!-- Apellidos -->
      <div class="form-group">
        <label for="user-lastname" class="col-sm-3 control-label">Apellidos</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="user-lastname" placeholder="Apellidos" value="<%- name.last %>">
        </div>
      </div>

      <!-- Correo -->
      <div class="form-group">
        <label for="user-email" class="col-sm-3 control-label">Correo</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="user-email" placeholder="Correo electrónico" value="<%- email %>">
        </div>
      </div>

      <!-- Rol de usuario -->
      <div class="form-group">
        <label for="user-role" class="col-sm-3 control-label">Permisos</label>
        <div class="col-sm-9">
          <select id="user-role" name="user-role" class="form-control">
            <option>Seleccionar permisos</option>
            <% var roles = ['Waiting', 'Reporter', 'Administrator'] %>
            <% _.each(roles, function (r) { %>
            <option value="<%- r %>" <%- r === role ? 'selected' : '' %>><%- r %></option>
            <% }); %>
          </select>
        </div>
      </div>

      <!-- Guías de usuario -->
      <div class="form-group">
        <label for="user-role" class="col-sm-3 control-label">Instrucciones de captura</label>
        <div class="col-sm-9">
          <textarea id="user-guidelines" rows="5" class="form-control"><%- guidelines %></textarea>
          <small class="help-block">Puedes usar notación <a href="http://daringfireball.net/projects/markdown/">markdown</a> para el formato</small>
        </div>
      </div>
      
      <!-- Fecha de último acceso -->
      <% if (_id) { %>
      <div class="form-group">
        <label class="col-sm-3 control-label">Actividad</label>
        <div class="col-sm-9">
          <% if (lastaccess) { %>
          <input disabled type="text" class="form-control" value="<%- moment(lastaccess).fromNow() %>">
          <% } else { %>
          <input disabled type="text" class="form-control" value="Nunca se ha conectado">
          <% } %>
        </div>
      </div>
      <% } %>

      <% if (created_at) { %>
      <!-- Fecha de creación -->
      <div class="form-group">
        <label class="col-sm-3 control-label">Creado</label>
        <div class="col-sm-9">
          <input disabled type="text" class="form-control" value="<%- moment(created_at).format('LLLL') %>">
        </div>
      </div>
      <% } %>

      <% if (updated_at) { %>
      <!-- Fecha de actualización -->
      <div class="form-group">
        <label class="col-sm-3 control-label">Actualización</label>
        <div class="col-sm-9">
          <input disabled type="text" class="form-control" value="<%- moment(updated_at).format('LLLL') %>">
        </div>
      </div>
      <% } %>

      <!-- Contraseña -->
      <div class="form-group">
        <label for="user-password" class="col-sm-3 control-label">Contraseña</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="user-password" placeholder="Contraseña">
          <% if(password) { %>
            <small>Deja el campo en blanco si no quieres modificar</small>
          <% } %>
        </div>
      </div>

      <!-- Repetir Contraseña -->
      <div class="form-group">
        <label for="user-password2" class="col-sm-3 control-label">Repetir Contraseña</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="user-password2" placeholder="Repetir Contraseña">
        </div>
      </div>

      <!-- Submit -->
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="sumbit" class="btn btn-success">Guardar</button>
          <% if (_id) { %>
          <button type="button" class="btn btn-danger remove">Eliminar</button>
          <% } %>
        </div>
      </div>

      <% if (_id) { %>
      <!-- edit or create -->
      <input type="hidden" id="user-id" value="<%- _id %>">
      <% } %>

    </form>

  </div>
</div>
