<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">      
    <div class="nav-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Informes</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
        <li><a href="#/reports"><span class="glyphicon glyphicon-list"></span> Listar</a></li>
        <li class="dropdown">
          <a href="#/reports/add"><span class="glyphicon glyphicon-plus-sign"></span> Añadir</a>
        </li>
        <li><a href="#/help"><span class="glyphicon glyphicon-question-sign"></span> Ayuda</a></li>
      </ul>

      <div id="panel"></div>
    </div>
  </div>
</nav>
