<div class="container">
  <div class="page-header">
    <h1>Ayuda</h1>
  </div>
  <div class="col-md-8">
    <iframe width="100%" height="480" src="//www.youtube-nocookie.com/embed/V1p_9OT8BYI?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Dudas y preguntas</div>
      </div>
      <div class="panel-body">
        <p><span class="glyphicon glyphicon-envelope"></span> Enviar un correo a <a href="mailto:planeacion@filos.unam.mx">planeacion@filos.unam.mx</a></p>
        <p><span class="glyphicon glyphicon-phone"></span> Tels. 5622-1815 y 5550-8008</p>
      </div>
    </div>
  </div>
</div>
