<div class="jumbotron">
  <div class="container">
    <h1>Usuarios</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default panel-controls">
        <div class="panel-heading">

        <div class="pull-right">
          <div class="btn-group btn-justified">
            <a href="#/users/add" class="btn btn-sm btn-default">
              <span class="glyphicon glyphicon-plus"></span> Nuevo
            </a>
          </div>

          <div class="btn-group btn-justified">
            <button type="button" class="btn btn-sm btn-default remove-list">
              <span class="glyphicon glyphicon-trash"></span> Eliminar
            </button>
          </div>
        </div>

        <h3 class="panel-title">
          <a href="#/users">Usuarios</a>
        </h3>
      </div>

      <div id="users"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div id="details"></div>
    </div>
  </div>
</div>
