<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- @if node_env='production' -->
  <meta name="csrf-token" content="<%= csrf %>">
  <!-- @endif -->
  <title>Informe</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- @if node_env='production' -->
  <script src="/components/requirejs/require.js"></script>
  <script src="/<!-- @echo script -->.js"></script>
  <!-- @endif -->
  <!-- @if node_env='development' -->
  <script data-main="<!-- @echo script -->" src="/components/requirejs/require.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
  <!-- @endif -->
</head>
<body>
  <!-- #wrap -->
  <div class="wrap">

    <!-- #header -->
    <div id="header"></div>
    <!-- /#header -->

    <!-- #main -->
    <div id="main"></div>
    <!-- /#main -->

  </div>
  <!-- /#wrap -->

  <!-- #message -->
  <div id="message" class="modal animated shake">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h1><span class="glyphicon glyphicon-exclamation-sign"></span></h1>
          <h4 class="message modal-title"></h4>
          <hr>
          <button type="button" class="btn btn-block btn-danger" data-dismiss="modal">Entendido</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /#message -->

  <!-- .notifications -->
  <div class='notifications'></div>
  <!-- /.notifications -->

  <!-- #footer -->
  <div id="footer" class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          2013 © <strong>Facultad de Filosofía y Letras, UNAM</strong>
        </div>
        <div class="col-sm-6 text-right hidden-xs">
          <a href="https://github.com/filosunam/informes">Source</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /#footer -->

</body>
</html>
