<div class="jumbotron">
  <div class="container">
    <h1>Informes</h1>
    <a class="btn btn-default" href="#/add/topic">
      <span class="glyphicon glyphicon-plus"></span> Añadir tema</a>
    <a class="btn btn-default" href="#/add/report">
      <span class="glyphicon glyphicon-plus"></span> Añadir dato</a>
    
    <div id="years"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#/list">Temas</a>
            <a href="#/admin/topics" class="pull-right">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
          </h3>
        </div>
        <div id="topics" class="panel-body"></div>
      </div>
    </div>
    <div class="col-md-9">
      <!-- #reports -->
      <table id="reports" class="table table-hover table-bordered table-striped">
        <thead>
          <tr>
            <th style="width: 45%">Título</th>
            <th style="width: 25%">Tipo</th>
            <th style="width: 30%">Fecha de creación</th>
          </tr>
        </thead>
      </table>
      <!-- /#reports -->
    </div>
  </div>
</div>
