<div class="jumbotron">
  <div class="container">
    <h1>Informes</h1>
    
    <div id="years"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default panel-controls">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <a href="#/list" class="btn btn-sm btn-default">
              <span class="glyphicon glyphicon-list"></span>
            </a>
            <a href="#/admin/topics" class="btn btn-sm btn-default">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
          </div>
          <h3 class="panel-title">
            <a href="#/list">Temas</a>
          </h3>
        </div>
        <div id="topics" class="panel-body"></div>
      </div>
    </div>
    <div class="col-md-9">
      <div id="content"></div>
    </div>
  </div>
</div>
