<div class="jumbotron">
  <div class="container">
    <h1>Informes</h1>
    <a class="btn btn-default" href="#/add/topic">
      <span class="glyphicon glyphicon-plus"></span> Añadir tema</a>
    <a class="btn btn-default" href="#/add/topic">
      <span class="glyphicon glyphicon-plus"></span> Añadir dato</a>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#">2015</a></li>
      <li><a href="#">2014</a></li>
      <li><a href="#">2013</a></li>
      <li><a href="#">2012</a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#/topics/1"><span class="badge pull-right">2</span> Tema 1</a></li>
        <li class="active"><a href="#/topics/2"><span class="badge pull-right">3</span> Tema 2</a></li>
        <li><a href="#/topics/3"><span class="badge pull-right">1</span> Tema 3</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">Tema 2</div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th style="width: 45%">Título</th>
              <th style="width: 25%">Tipo</th>
              <th style="width: 30%">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#/edit/data/1">Dato 1</a></td>
              <td>Tipo</td>
              <td>dd/mm/yyyy hh:mm</td>
            </tr>
            <tr>
              <td><a href="#/edit/data/1">Dato 1</a></td>
              <td>Tipo</td>
              <td>dd/mm/yyyy hh:mm</td>
            </tr>
            <tr>
              <td><a href="#/edit/data/1">Dato 1</a></td>
              <td>Tipo</td>
              <td>dd/mm/yyyy hh:mm</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
