<div class="panel-heading">

  <div class="pull-right">
    <div class="btn-group btn-justified">
      <a href="#/add/user" class="btn btn-sm btn-default">
        <span class="glyphicon glyphicon-plus"></span> Nuevo
      </a>
    </div>

    <div class="btn-group btn-justified">
      <button type="button" class="btn btn-sm btn-default remove-list">
        <span class="glyphicon glyphicon-trash"></span> Eliminar
      </button>
    </div>
  </div>

  <h3 class="panel-title">
    <a href="#/users">Usuarios</a>
  </h3>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th style="width: 3%"></th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Permisos</th>
    </tr>
  </thead>
  <tbody class="users"></tbody>
</table>
