<h3>Cátedras <small>Cursos <div class="label label-default">valoración</div></small></h3>
<hr>
<form action="" class="form form-horizontal">

  <!-- Año -->
  <div class="form-group">
    <label for="type" class="col-sm-3 control-label">Año</label>
    <div class="col-sm-9">
      <select id="type" class="form-control">
        <option>Seleccionar año</option>
        <option>2013</option>
        <option>2012</option>
        <option>2011</option>
        <option>2011</option>
        <option>2010</option>
        <option>2009</option>
        <option>2008</option>
      </select>
    </div>
  </div>
  
  <!-- Título -->
  <div class="form-group">
    <label for="title" class="col-sm-3 control-label">Título</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="title" placeholder="Título">
    </div>
  </div>

  <!-- Tipo -->
  <div class="form-group">
    <label for="type" class="col-sm-3 control-label">Tipo</label>
    <div class="col-sm-9">
      <select id="type" class="form-control">
        <option>Seleccionar tipo de dato</option>
        <option>Número</option>
        <option>Gráfico</option>
        <option>Valoración</option>
      </select>
    </div>
  </div>

  <!-- Contenido -->
  <div class="form-group">
    <label for="" class="col-sm-3 control-label">Contenido</label>
    <div class="col-sm-9"><textarea name="" id="" cols="30" rows="10" class="form-control"></textarea></div>
  </div>

  <!-- Submit -->
  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <button type="sumbit" class="btn btn-success">Guardar</button>
    </div>
  </div>

</form>
